<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Signup</title>
        <link rel="stylesheet" href="styles.css">

        <!-- Font Awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- Google Fonts -->

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900|Ubuntu:400,500,700&display=swap" rel="stylesheet">
    </head>

    <body>
        <section id="title" class="theme">
            <h2 style="text-align: center; padding: 100px 0px">Choose your car from the available cars for your dates</h2>
            <div class="container">
                <div class="row">
                    <% for(var i=0; i < data.length; i++) { %>
                        <div class="car col-lg-4 col-md-6 col-sm-12">
                            <img src="<%=data[i].src%>" alt="image" width="270" style="margin-bottom: 7px;" />
                            <button class="btn" onclick="submit_car('<%=data[i].car_model%>')"><h4><%=data[i].car_model%></h4><h3><%=data[i].count%></h3></button>
                        </div>
                    <% } %>
                </div>
            </div>
            <h4 style="color: red;"><%=error%></h4>
        </section>
        <script src="choose_car.js"></script>
    </body>
</html>