<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Signup</title>
        <link rel="stylesheet" href="styles.css">

        <!-- Bootstrap -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- Google Fonts -->

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900|Ubuntu:400,500,700&display=swap" rel="stylesheet">
    </head>

    <body>
        <section id="title" class="theme">
            <div class="container" style="padding-top: 150px;">
                
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center; align-self: center;">
                    <h1 style="margin-bottom: 60px;">Track Booking</h1>
                    <% for(var i=0; i < data.length; i++) { %>
                        <div style="border-radius: 5%; border: 3px solid black; padding: 20px 7px 17px 7px">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: left;">
                                    <h5><strong> <%=data[i].from_station%> </strong> <em>to</em> <strong><%=data[i].to_station%></strong></h5>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: right;">
                                    <h5>in <%=data[i].car_model%></h5>
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: left;">
                                    <h5>From <em><%=data[i].start_time%></em> to <em> <%=data[i].end_time%> </em> </h5>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: right;">
                                    <h5>Number Plate : <%=data[i].number_plate%></h5>
                                </div>

                            </div>
                        </div>
                        <hr>
                    <% } %>
                </div>  
                
            </div>
        </section>
    </body>
</html>